html, body, #root {
    height: 100vh;
}

.body {
 
}

.anime {
    height: 100vh;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sectionBody {
    min-height: 100px;
}

.lastObject {
    border: double !important;
}

.Capital {
    text-transform: Capitalize;
}

.footer {
    background-image: url("Images/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 300px;
}

.hidden { 
    display: none !important;
}

.NewsItem {

}

.NewsDate {

}

.Type {
    border: solid red !important;
    margin-top: 10px;
}


@media screen and (min-width: 991px) {
    .mainContainer {
        
    }

    .body {
 
    }

    ul {
       list-style-type: none;
    }

    .mb-127px {
        margin-bottom: 127px;
    }
    .mb-457px {
        margin-top: 487px !important;
    }

    .list-group-item {
    }

    .type {

    }

    .footer {
 
    }
    
    .navbar {

    }
    
    .navBar {

    }

    .NewsItem {
        min-height: 100px;
    }

    .NewsDate {

    }
  }
@media screen and (min-width: 480px) and (max-width: 990px) {
    .mb-127px {
        margin-bottom: 127px;
    }

    .mb-457px {
        margin-bottom: 487px;
    }
}

@media screen and (max-width: 480px) {
    .NewsItem {
        
    }

    .mb-127px {
        margin-bottom: 127px;
    }

    .mb-457px {
        margin-bottom: 487px;
    }
}

