html, body {
    height: 100%;
}

.body {
 
}

.anime {

}

.sectionBody {
    min-height: 100px;
}

.lastObject {
    border: double !important;
}

.Capital {
    text-transform: Capitalize;
}

.footer {
    background-image: url("Images/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 300px;
}

.hidden { 
    display: none !important;
}

.NewsItem {

}

.NewsDate {

}

@media screen and (min-width: 991px) {
    .mainContainer {
        
    }

    .body {
 
    }

    ul {
       list-style-type: none;
    }

    .mb-127px {
        margin-bottom: 127px;
    }
    .mb-457px {
        margin-bottom: 487px;
    }

    .list-group-item {
    }

    .type {

    }

    .footer {
 
    }
    
    .navbar {

    }
    
    .navBar {

    }

    .NewsItem {
        min-height: 100px;
    }

    .NewsDate {

    }
  }


.type {

}

